main {
    padding: 10px;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgb(167, 205, 232);
}
  
#main {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;

}
  


form{
    text-align: center;
    display: block;
}

input{
    display: block;
    background-color:#f4f7f7;
    color:cornflowerblue;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: aliceblue;
    text-align: center;
    font-size: 1.1rem;
    background: red;
    border-radius: 7%;
}

ol{
    text-align: center;
}

label,
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
}

input[type=button]{
    width: 60%;
    margin-top: 30px;

}

footer{
    text-align: center;
    margin-top: 50px;
}
button{

    display:inline-block;
    background-color:#f4f7f7;
    color:cornflowerblue;
    padding: 5px;
    width: 25%;
    border-radius: 10px;
    
}